<div class="container ">
  <div class="col">
    <%= "#{@record.name}様" %>
  </div>
  <div class="col">
    <%= "担当 #{@record.manager}" %>
  </div>
  <div class="col">
    <%= "カット#{@record.cut.name}" %>
  </div>
  <div class="col">
    <%= "カラー#{@record.color.name}" %>
  </div>
  <div class="col">
    <%= "パーマ#{@record.parm.name}" %>
  </div>
  <div class="col">
    <%= "トリートメント#{@record.treatment.name}" %>
  </div>
  <div class="col">
    <%= "備考 #{@record.description}" %>
  </div>
  <%= link_to "編集する", edit_record_path %>
  <%= link_to "削除する", record_path, method: :delete %>
  <% if @record.image.attached? %>
    <div class="row">
      <div class="col-4 ">
        <%= image_tag @record.image, class: "img-fluid"%>
      </div>
    </div>
  <% end %>
</div>
